<form action="/dashboard" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" value="">
  <input type="password" name="password" value="">
  <input type="submit" value="">
</form>
